h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
}
body{
  font-family: 'Raleway', sans-serif;
}
.panel,  .background{
  transition: .5s;
}
.panel:hover, .background:hover{
  transform: scale(1.05);
  z-index:10;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu{
  background: rgba(255,255,255, 0.9);
}
.dropdown-item{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.center-items{
  display:flex;
  justify-content: center;
}
.panel{
  width:20rem; 
  padding:50px 0; 
  background:#51AFE1; 
  margin:5px;
}
.background{
  width:20rem; 
  padding:50px 0; 
  margin:5px;
  background-image:url('/img/fondo_log_in.jpg') !important; 
}
/*.nav-link{
  color:black !important;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
}*/
.table td, .table thead{
  text-align: center;
  vertical-align: middle;
}
.table-100{
  width:50px;
}
@media screen and (max-width: 600px) {
    table {
       width:100%;
    }
    thead{
      display: none;
    }
    tr:nth-of-type(2n) {
       background-color: inherit;
   }
   tr td:first-child {
       background: #f0f0f0;
       font-weight:bold;
       font-size:1.3em;
   }
   tbody td {
       display: block;
       text-align:center;
   }
   tbody td:before {
       content: attr(data-th);
       display: block;
       text-align:center;
   }
   .table-100{
    width:100%;
  }
}

.directory-container{
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:rgba(0,0,0, 0.5);
  z-index:2000;
  display: none;
}

.checked-container{
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:rgba(0,0,0, 0.7);
  z-index:2000;
  display: none;
  justify-content: center;
  align-items: center;
}
.modified-container{
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:rgba(0,0,0, 0.7);
  z-index:2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beneficiary-container{
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:rgba(0,0,0, 0.7);
  z-index:2000;
  display: none;
  justify-content: center;
  align-items: center;
}
.upload-container{
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:rgba(0,0,0, 0.7);
  z-index:2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.processing-container{
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:rgba(0,0,0, 0.7);
  z-index:2000;
  display: none;
  justify-content: center;
  align-items: center;
}
.fa-check-double, .fa-exclamation{
  color: #f0f0f0;
  font-size:70px;
}
.fa-spinner{
  color: #f0f0f0;
  font-size:70px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-name: spinner-loading
}
@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}


.cuentas-container{
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:rgba(0,0,0, 0.7);
  z-index:2000;
  display: none;
  justify-content: center;
  align-items: center;
}
.clientes-container{
  position: fixed;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  background:rgba(0,0,0, 0.5);
  z-index:2000;
  display: none;
}
