h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
}
body{
  font-family: 'Raleway', sans-serif;
}
.panel,  .background{
  transition: .5s;
}
.panel:hover, .background:hover{
  transform: scale(1.05);
  z-index:10;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu{
  background: rgba(255,255,255, 0.9);
}
.dropdown-item{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.center-items{
  display:flex;
  justify-content: center;
}
.panel{
  width:20rem; 
  padding:50px 0; 
  background:#51AFE1; 
  margin:5px;
}
.background{
  width:20rem; 
  padding:50px 0; 
  margin:5px;
  background-image:url('/img/fondo_log_in.jpg') !important; 
}
/*.nav-link{
  color:black !important;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
}*/
@media screen and (max-width: 600px) {
    table {
       width:100%;
    }
    thead{
      display: none;
    }
    tr:nth-of-type(2n) {
       background-color: inherit;
   }
   tr td:first-child {
       background: #f0f0f0;
       font-weight:bold;
       font-size:1.3em;
   }
   tbody td {
       display: block;
       text-align:center;
   }
   tbody td:before {
       content: attr(data-th);
       display: block;
       text-align:center;
   }
}
